* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
}

main {
  margin: 0 auto;
}

h1 {
  font-size: 6rem;
  font-variant: small-caps;
  text-align: center;
  margin: 0 auto .33em;
}

h2, h3 {
  font-size: 2rem;
  font-variant: small-caps;
  margin: 0;
}

button, input[type="text"], select.js-filter-rating {
  padding: 5px;
  font-size: 35px;
  font-variant: small-caps;
}

select option {
  font-size: 10px;
}

option {
  font-size: 18px;
  font-variant: small-caps;
}

button:hover {
  cursor: pointer;
}

option {
  font-size: 10px;
  font-variant: small-caps;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  border: 1px solid #C4C4C4;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.bookmark-name {
  background-color: #C4C4C4;
  margin: 0;
  padding: 0;
}

.error-container {
  color: red;
  font-weight: bold;
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
}

/*------ flex -------*/
.left-side {
  flex: 1;
}

.right-side {
  flex: 2;
  text-align: end;
}

.top-half {
  background-color: #c4c4c4;
  flex: 1;
  padding: 1rem;
}

.bottom-half {
  background-color: #ffffff;
  flex: 1;
  padding: 1rem;
}

.even-flex {
  display: flex;
  justify-content: space-evenly;
}

.flex-between {
  display: flex;
  flex-direction: row;
}

/*------ input changes -------*/
input {
  border: none;
}

button.js-add-bookmark {
  min-width: 225px;
}

textarea{
  height: 100px;
  width: 100%;
  font-size: 1.5rem;
  border: none;
}

input.js-bookmark-url-entry {
  width: 100%;
}

.ninety-percent {
  width: 90%;
}

legend {
  font-size: 1.8rem;
  font-variant: small-caps;
}

.expand-buttons {
  margin-left: 25px;
  min-width: 125px;
}

.padding {
  padding: 25px;
}

.add-button {
  max-width: 250px;
  text-align: center;
  margin-top: 10px;
}

/*------- star rating --------*/
.rating {
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #c4c4c4;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #D4AF37;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #c4c4c4;
}

.background-stars {
  color: #c4c4c4;
  position: absolute;
  z-index: 1;
}

.colored-stars {
  color: #D4AF37;
  position: absolute;
  z-index: 2;
}